@page "/Admin/Start"
@* https://blazor-university.com/overview/creating-a-page/ *@

<h3>Admin Area</h3>
<p>The counter value is @counter</p>
<button class="btn btn-primary" @onclick=IncrementCounter>Increment counter</button>

@code {
    private int counter = 1;

    private void IncrementCounter()
    {
        counter++;
    }
}